absl-py==2.1.0
anyio==4.1.0
asgiref==3.7.2
astunparse==1.6.3
attrs==23.1.0
bardapi==0.1.38
beautifulsoup4==4.11.1
blinker==1.7.0
browser-cookie3==0.19.1
bs4==0.0.1
cachetools==5.3.2
certifi==2023.7.22
cffi==1.16.0
chardet==5.0.0
charset-normalizer==2.1.1
click==8.1.7
colorama==0.4.4
comtypes==1.4.1
deep-translator==1.11.4
Django==5.0.3
dlib==19.24.2
dnspython==2.6.1
exrex==0.11.0
fire==0.4.0
Flask==3.0.0
Flask-Cors==4.0.1
flatbuffers==24.3.25
fpdf==1.7.2
future==0.18.3
fuzzywuzzy==0.18.0
gast==0.5.4
google-api-core==2.14.0
google-auth==2.24.0
google-cloud-core==2.3.3
google-cloud-translate==3.12.1
google-pasta==0.2.0
googleapis-common-protos==1.61.0
greenlet==3.0.3
grpcio==1.59.3
grpcio-status==1.59.3
h11==0.14.0
h2==4.1.0
h5py==3.11.0
hpack==4.0.0
httpcore==1.0.2
httpx==0.25.2
hyperframe==6.0.1
idna==3.7
itsdangerous==2.1.2
Jinja2==3.1.4
keras==3.3.3
langdetect==1.0.9
libclang==18.1.1
loguru==0.6.0
lz4==4.3.2
Markdown==3.6
markdown-it-py==3.0.0
MarkupSafe==2.1.3
mdurl==0.1.2
ml-dtypes==0.3.2
namex==0.0.8
numpy==1.26.2
opencv-python==4.8.1.78
opt-einsum==3.3.0
optree==0.11.0
outcome==1.3.0.post0
packaging==24.0
Pillow==10.3.0
proto-plus==1.22.3
protobuf==4.25.1
pyasn1==0.5.1
pyasn1-modules==0.3.0
pycparser==2.21
pycryptodome==3.20.0
pycryptodomex==3.19.1
pygame==2.5.2
Pygments==2.17.2
PyJWT==2.8.0
pypiwin32==223
PySocks==1.7.1
python-nmap==0.7.1
pyttsx3==2.90
pywin32==306
reportlab==4.1.0
requests==2.32.2
rich==13.7.1
rsa==4.9
selenium==4.15.2
setuptools==69.0.2
six==1.16.0
sniffio==1.3.0
sortedcontainers==2.4.0
soupsieve==2.3.2
SpeechRecognition==3.10.3
SQLAlchemy==1.3.22
sqlparse==0.5.0
tenacity==8.0.1
tensorboard==2.16.2
tensorboard-data-server==0.7.2
tensorflow==2.16.1
tensorflow-intel==2.16.1
termcolor==1.1.0
tld==0.13
tqdm==4.66.3
treelib==1.6.1
trio==0.23.1
trio-websocket==0.11.1
typing_extensions==4.11.0
tzdata==2023.3
urllib3==1.26.19
Werkzeug==3.0.1
wheel==0.42.0
win32-setctime==1.1.0
wrapt==1.16.0
wsproto==1.2.0
zope.event==5.0
zope.interface==6.2
